<section id="page">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Centre AUTO'CCAS, le 1er site de la revente d'occasion</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Depuis 2020, l'équipe du centre AUTO'CCAS se donne pour mission d'accompagner tous les automobilistes en France dans la recherche de la voiture d'occasion qui correspond à ce qu'ils sont et à leur façon de vivre avec leur voiture.<br> Chacun a
            sa définition de la voiture idéale.<br> La marque, le prix, les équipements…Et tant d'autres paramètres qui demandent un peu d'expertise pour ne pas se tromper.<br> Sans parler des risques qui se cachent parfois dans un tel achat.<br> <strong>Notre objectif : être le meilleur
            site de vente de voiture d'occasion en France.</strong> <br>Vous pourrez ainsi trouver la voiture qui vous correspond parmi de nombreuses offres de voitures d'occasion en France au travers de notre site Internet. </p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Vous avez raison de nous faire confiance</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Nous sommes les seuls à disposer de plus de 250 concessions en France qui commercialisent plus de 200 000 véhicules neufs et d'occasion par an.<br> Depuis la création du site en 2020, le centre AUTO'CCAS a accompagné plus de 25 000 clients dans
            leur achat.
            <br> Ce qui fait de lui l'un des premiers site de vente de voitures d'occasion en France. </p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Simplifiez-vous la vie</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong>Le réseau national sur lequel s'appuie Autosphere.fr est en mesure de :</strong></p>
        <ul>
            <li>Reprendre votre véhicule actuel</li>
            <li>Financer votre projet automobile</li>
            <li>Entretenir votre voiture pour la faire durer</li>
            <li>Personnaliser votre véhicule grâce</li>
            <li>à une gamme complète d'accessoires</li>
        </ul>


        <p><strong> Vous bénéficiez aussi de la possibilité de :</strong> </p>
        <ul>
            <li>Souscrire à une extension de garantie pour plus de sérénité </li>
            <li>De vous protéger en faisant appel aux assurances complémentaires</li>
            <li>Repousser les tentatives de vols en faisant graver vos vitres</li>
            <li> Avoir en permanence une solution de mobilité en cas d'immobilisation de votre véhicule</li>
            <li>Régler vos factures d'entretien en 3 fois sans frais.</li>
        </ul>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Nos engagements</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong> Le centre AUTO'CCAS, c'est aussi :</strong> </p>
        <ul>
            <li>100% satisfait ou remboursé</li>
            <li>Livraison de votre véhicule</li>
            <li>Respect des mesures d'hygiène</li>
            <li>Véhicules révisés et garantis</li>
            <li>Paiement en ligne sécurisé</li>
            <li>Une équipe à votre écoute</li>
        </ul>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Nous contacter</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p><strong> Pour contacter le centre AUTO'CCAS, vous pouvez :</strong> </p>
        <ul>
            <li>En nous appelant au <strong>+33 (0)9.09.09.09.09</strong></li>
            <li>En demandant à être rappelé quand vous le souhaitez</li>
            <li>Par mail, à l'adresse suivante : <strong>mlodevie@google.com</strong></li>
        </ul>
    </mat-expansion-panel>
</section>