<section id="page">
    <div>
        <fa-icon [icon]="['far', 'address-card']" style="font-size: 3rem;"></fa-icon>
        <h2>MON COMPTE</h2>
    </div>

    <app-user-light-form [user]="user" [violationList]="violationList" (formSubmit)="submit($event)"></app-user-light-form>

    <div class="spacing"></div>

    <button type="button " [class]="isDarkMode ? 'btn btn-outline-light' : 'btn btn-outline-dark' " [routerLink]="['/profileLinks/', userId]">
        Retourner sur mon profil
        </button>

</section>