<section id="page">
    <h1>Foire aux Questions</h1>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Qui sommes-nous ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Le Centre AUTO'CCAS est un site leader dans la vente de véhicules d’occasion sur Internet. Nos véhicules proviennent de concessionnaires dans toute la France et représentent plus de 30 marques dont Renault, Peugeot, Citroën, DS, Dacia, Nissan,
            Mercedes-Benz, Smart, Volkswagen, Audi, Seat, Skoda, Toyota, Lexus, Suzuki, Jaguar, Land-Rover, Porsche ou Bentley.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Quel est votre avantage sur les autres sites de ventes de voitures d'occasion ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Grâce à nos 250 concessions dans toute la France métropolitaine, nous vous proposons près de 12 000 annonces de voitures d’occasion à vendre. De quoi être considéré comme un site de référence, hors portails d’annonces, de véhicules d’occasion
            proposés par les constructeurs eux-mêmes.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>J'ai trouvé mon véhicule ! Que faire ensuite ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Vous êtes intéressé par l’un des véhicules que nous proposons ? Trois solutions s’offrent à vous pour nous contacter :</p>
        <ul>
            <li>Par téléphone au 0 805 805 802 (service et appel gratuits).</li>
            <li>Par mail, via le formulaire de contact que vous trouverez sur le site (icône « nous contacter » en vert, en haut et à droite de la page : « Envoyer un mail »).</li>
            <li>En demandant à être rappelé par nos équipes, à votre convenance (icône « nous contacter » en vert, en haut et à droite de la page : « Être rappelé(e) »).</li>
        </ul>
        <p>Nos opérateurs téléphoniques basés en France font intégralement partie de la société. Ils sont passionnés et régulièrement formés sur l’automobile, le fonctionnement du site ainsi que sur les solutions de financement ou la reprise de votre ancien
            véhicule. Voilà pourquoi ils sont idéalement placés pour identifier vos besoins et les transmettront efficacement à la concession vendant le véhicule qui vous intéresse.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Quelle est l'origine des véhicules proposés ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Tous les véhicules proposés sur autosphere.fr le sont par des professionnels de l’automobile. À ce titre, ils sont soigneusement sélectionnés, révisés et garantis. La majorité des voitures proposée est issue des reprises faites auprès des particuliers.
            Il peut également s’agir de véhicules à usage professionnel ou provenant directement de la concession vendeuse comme des véhicules de démonstration et occasions « Faible KM » découlant des ventes stratégiques des constructeurs.</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Comment puis-je vendre mon véhicule ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Notre réseau étant composé exclusivement de concessionnaires automobiles, chacun d’entre eux est intéressé par la reprise de votre véhicule actuel. Quelle que soit la voiture que vous possédez, vous pourrez bénéficier d’une estimation de reprise
            par le concessionnaire vendeur. Bien entendu, nous nous chargeons de toutes les démarches administratives liées à la revente de votre ancienne voiture et à l’achat de la nouvelle, de même qu’il n’est pas nécessaire que votre auto soit à jour
            de son Contrôle Technique. En revanche, nous ne pratiquons pas d’échange au sens strict du terme, ni de reprise sèche (sans achat d’un nouveau véhicule).</p>
    </mat-expansion-panel>



    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Je cherche un véhicule que vous n'avez pas ! Que faire ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Si parmi près de 12 000 véhicules d’occasion proposés sur le site, vous ne trouvez pas votre bonheur, vous avez la possibilité de créer un compte personnel (sans engagement) et de générer une alerte en fonction de critères précis (marque, modèle,
            kilométrage, âge du véhicule, prix, énergie, financement…). Vous serez ainsi automatiquement averti par mail dès qu’un véhicule correspondant est mis en ligne.</p>
    </mat-expansion-panel>



    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Quelle est la fréquence de mise à jour de votre site ?</h2>

            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Le site autosphere.fr est actualisé trois fois par jour afin de refléter au mieux la réalité des stocks de nos concessions.</p>
    </mat-expansion-panel>



    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Pourquoi ne puis-je pas m’entretenir directement avec le vendeur ? Quand vais-je être rappelé ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Afin de vous assurer la meilleure qualité de service possible, vos appels sont centralisés sur une plateforme de téléconseillers, située en France, disponible 7 jours sur 7, de 7 à 22 heures (de 9 à 19 heures le dimanche), qui transmet immédiatement
            votre contact au concessionnaire vendeur. Ce dernier s’engage à vous recontacter dans les 2 heures qui suivent. Tous les collaborateurs auxquels vous aurez affaire sont des spécialistes de l’automobile et ne travaillent que pour autosphere.fr.</p>
    </mat-expansion-panel>


    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Pouvez-vous me livrer mon véhicule ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Nos concessions sont situées partout en France. Il est très possible que le véhicule qui vous intéresse soit proche de chez vous. Si ce n’est pas le cas, nos concessions sont en mesure d’étudier cette option au cas par cas. Par ailleurs, dans
            le cadre d’une vente 100% digitale, Exclu Web, la livraison à domicile ou à n’importe quelle adresse en France métropolitaine est incluse.</p>
    </mat-expansion-panel>



    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Quels moyens de paiement acceptez-vous ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Nous acceptons les moyens de paiement suivants : Chèque de banque, carte bancaire et virement bancaire. Conformément à la loi, nous ne pouvons accepter de versement en argent liquide supérieur à 1 000 euros.</p>
    </mat-expansion-panel>



    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Proposez-vous des solutions de financement de type leasing ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Parce qu’il n’est pas aisé de régler comptant l’acquisition de votre auto d’occasion ou parce que vous préférez ne pas être propriétaire de votre véhicule, autosphere.fr vous propose trois solutions de financement que sont le crédit auto, la Location
            avec Option d’Achat (LOA) ainsi que la Location Longue Durée (LLD). En tant que distributeurs d’automobiles, nos conseillers qui vous proposeront ces services ont reçu une habilitation ainsi qu’une formation continue et régulière afin de vous
            accompagner de la manière la plus précise et transparente possible dans le seul but de vous avantager.</p>
    </mat-expansion-panel>



    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Quelles garanties proposez-vous ?</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>C’est un engagement fort d’autosphere.fr, tous les véhicules proposés sont garantis après une révision minutieuse. La garantie de 3 à 24 mois, selon les modèles, couvre l’essentiel des organes du véhicule. Nos véhicules d’occasions venant de concessionnaires,
            ils peuvent bénéficier par ailleurs d’une garantie occasion propre au constructeur, communément appelée Label Occasion (Garantie Or de Renault, Das Welt Auto de Volkswagen…). Si besoin, diverses options peuvent être ajoutées comme la garantie
            « Standard » pouvant couvrir le véhicule jusqu’à 36 mois. Le client bénéficie également de la garantie « Satisfait ou Remboursé »</p>
    </mat-expansion-panel>



    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Comment bénéficier de la prime à la conversion, quelles sont les démarches pour en bénéficier ?</h2>

            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Seuls les véhicules particuliers et utilitaires (CTTE) sont éligibles à la prime à la conversion en vigueur depuis le 1er janvier 2018. Le versement de cette prime s’effectue après l’acquisition du véhicule par l’intermédiaire du vendeur ou en
            faisant une demande auprès de l’Agence régional de Services et de Paiement (ASP). Découvrez votre éligibilité à la prime à la conversion. Le véhicule concerné doit appartenir au bénéficiaire de la prime, être acquis depuis au moins un an,
            être immatriculé en France, ne pas être gagé ni considéré comme endommagé. La remise pour destruction devra être faite dans les 6 mois suivant la facturation et faire l’objet d’un contrat d’assurance en cours de validité. Afin de bénéficier
            de la prime de la conversion, vous devez vous munir du certificat d’immatriculation du véhicule acquis, celui du véhicule qui sera détruit ainsi qu’un Relevé d’Identité bancaire (RIB). Nos opérateurs téléphoniques et les équipes commerciales
            en concessions peuvent vous aider.</p>
    </mat-expansion-panel>
</section>